.details-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.details-image-wrapper > img {
  height: 70%;
  width: 70%;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 11px -1px rgba(0, 0, 0, 0.75);
}

.back-button {
  margin: 2rem;
}
