button {
    cursor: pointer;
    margin-left: 1rem;
    padding: var(--btn-padding);
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border-radius: 8%;
    cursor: pointer;
    box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.75);
    font-weight: bold;

}

