.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22rem;
  margin-top: 1rem;
}

.hero {
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 11px -1px rgba(0, 0, 0, 0.75);
  height: 100%;
}
