.year-article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.contest-year {
    display: flex;
    margin-left: 1rem;
}

.image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
      }
      


.winner-name-article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}